<div class="custom-system-form-field">
    <label for="actionButtonScript">Script</label>
    <textarea rows="8" id="actionButtonScript" name="actionButtonScript">{{actionButtonScript}}</textarea>
    <em>Note: You can use some formulas inside your script.</em>
    <details>
    	<summary>Examples:</summary>
    	<div>
    		<p><code>alert('${myfield}$');</code></p>
    		<p><code>
	    	// Increment a counter<br>
    		const myNum = document.querySelector('.character input[name="system.props.myNum"]');<br>
			myNum.value = ${myNum+1}$;
			</code></p>
		</div>
    </details>
</div>

<div class="custom-system-form-field">
    <label for="actionButtonText">Button Text</label>
    <input type="text" name="actionButtonText" id="actionButtonText" value="{{actionButtonText}}">
</div>